<button type="button" name="button" (click)='getInfoFromServiceClass1()'>Employee 1</button>
<ul class="list-group">
    <li *ngFor="let info of infoRecived1" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)='getInfoFromServiceClass2()'>Employee 2</button>
<ul class="list-group">
    <li *ngFor="let info of infoRecived2" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)='getInfoFromServiceClass3()'>Employee 3</button>
<ul class="list-group">
    <li *ngFor="let info of infoRecived3" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>