<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/simplylearn-logo.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Worlds #1 Online Bootcamp</h1>
            <p>
                1,000,000 careers advanced <br/>
                1,000, live classes every month <br/>
                85% report career benefits including promotion or a new jobs.
            </p>
            <a class="btn btn-primary" href="https://www.simplilearn.com/#our-programs">Explore Programs</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size: xx-large;">Get Certified, Get Ahed with Our Programs</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Post Graduate Program in Learn Six Sigma</h2>
                    <p class="card-text">Duration: 6 months <br /> Cohort starts: 04 Oct, 2020</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/pgp-lean-six-sigma-certification-training-course">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Post Graduate Program in Full Stack Web Development</h2>
                    <p class="card-text">Duration: 6 months <br /> Cohort starts: 11 Oct, 2020</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/pgp-full-stack-web-development-certification-training-course">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Post Graduate Program in Cyber Security</h2>
                    <p class="card-text">Duration: 6 months <br /> Cohort starts: 28 Sep, 2020</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/pgp-cyber-security-certification-training-course">More Info</a></div>
            </div>
        </div>
    </div>
    <div class="card text-white my-5 py-4 text-center">
        <div class="center">
            <video width="640" width="320" controls style="align-content: center;">
                <source src="assets/Simplilearn-Video.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="card-body" id="youtube">
            <p class="text-white m-0" style="font-size: x-large; text-align: center;">
                <a href="https://www.youtube.com/@SimplilearnOfficial">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/youtube-logo.png" width="150px" height="150px" />
                    <br><h4>
                        Check Out Our YouTube Channel for Technical Videos and Tutorials
                    </h4>
                </a>
            </p>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">© 2009-2024 - Simplilearn Solutions. All Rights Reserved.</p>
    </div>
</footer>