<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/simplylearn-logo.png" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Worlds #1 Online Bootcamp</h1>
        <p>
            1,000,000 careers advanced <br/>
            1,000, live classes every month <br/>
            85% report career benefits including promotion or a new jobs.
        </p>
        <a class="btn btn-primary" href="#!">Call to Action!</a>
    </div>
</div>
<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
</div>